[Unit]
Description=Backup canary service for pod-golly-wiki
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
StandardError=syslog
StandardOutput=syslog
SyslogIdentifier=pod-golly-wiki-canary
ExecStartPre=/usr/bin/test -f {{ golly_wiki_pod_install_dir }}/environment
ExecStart=/bin/bash -ac '. {{ golly_wiki_pod_install_dir }}/environment; python3 {{ golly_wiki_pod_install_dir }}/scripts/backups/canary/backups_canary.py'
User=charles
Group=charles

