[Unit]
Description=Back up the pod-golly-wiki wiki database
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
StandardError=syslog
StandardOutput=syslog
SyslogIdentifier=pod-golly-wiki-backups-wikidb
ExecStartPre=/usr/bin/test -f {{ golly_wiki_pod_install_dir }}/environment
ExecStart=/bin/bash -ac '. {{ golly_wiki_pod_install_dir }}/environment; {{ golly_wiki_pod_install_dir }}/scripts/backups/wikidb_dump.sh'
User=charles
Group=charles

