[Unit]
Description=Copy the latest pod-golly-wiki backup to an S3 bucket
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
#StandardError=append:/var/log/pod-golly-wiki-backups-aws.service.log
#StandardOutput=append:/var/log/pod-golly-wiki-backups-aws.service.log
StandardError=syslog
StandardOutput=syslog
SyslogIdentifier=pod-golly-wiki-backups-aws
ExecStartPre=/usr/bin/test -f {{ golly_wiki_pod_install_dir }}/environment
ExecStart=/bin/bash -ac '. {{ golly_wiki_pod_install_dir }}/environment; {{ golly_wiki_pod_install_dir }}/scripts/backups/aws_backup.sh'
User=charles
Group=charles

