[Unit]
Description=Back up pod-golly-wiki files
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
StandardError=syslog
StandardOutput=syslog
SyslogIdentifier=pod-golly-wiki-backups-wikifiles
ExecStartPre=/usr/bin/test -f {{ golly_wiki_pod_install_dir }}/environment
ExecStart=/bin/bash -ac '. {{ golly_wiki_pod_install_dir }}/environment; {{ golly_wiki_pod_install_dir }}/scripts/backups/wikifiles_dump.sh'
User=charles
Group=charles
