[Unit]
Description=Clean pod-golly-wiki backups older than N days
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
StandardError=append:/var/log/pod-golly-wiki-backups-cleanolderthan.service.log
StandardOutput=append:/var/log/pod-golly-wiki-backups-cleanolderthan.service.log
ExecStart=/bin/bash -ac '. {{ golly_wiki_pod_install_dir }}/environment; {{ golly_wiki_pod_install_dir }}/scripts/backups/clean_olderthan.sh'
User=charles
Group=charles
