[Unit]
Description=Golly wiki docker pod
Requires=docker.service
After=docker.service

[Service]
Restart=always
StandardError=null
StandardOutput=null
ExecStartPre=/usr/bin/test -f {{ golly_wiki_pod_install_dir }}/docker-compose.yml
ExecStart=/usr/local/bin/docker-compose -f {{ golly_wiki_pod_install_dir }}/docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose  -f {{ golly_wiki_pod_install_dir }}/docker-compose.yml stop

[Install]
WantedBy=default.target
